@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import "./styles/colors.css";
@import "./styles/default.css";
@import "./styles/header.css";


.icon {
    width: 100%;
    height: 100%;
    color: inherit;
}

.hidden {
    display: none;
}

html {
    height: 100vh;
    font-size: 16px;
}

body {
    width: 100vw;
    background-color: var(--primary-color);
    color:var(--primary-font-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

.main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
}

canvas {
    border: 1px double black;
    will-change: transform;
    display: block;
    width: 100%;
    height: 100%;
}

.settings {
    width: clamp(20vw,100%,45ch);
    height: 100%;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    translate: 100%;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow-y: auto;
    transition: translate 0.45s ease-in-out;

}

.settings.active {
    translate:0;
    transition: translate 0.45s ease-in-out;
}