
.main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 100vw;
    overflow: hidden;
}

.main > section {
    flex:0 0 100vw;
    display:none;
    overflow: hidden;
}

.main > section.active {
    display: block;
}

aside {
    width: clamp(20vw,100%,45ch);
    height: 100%;
    padding: 1em;
    position: absolute;
    top: 0;
    right: 0;
    translate: 100%;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow-y: auto;
    transition: translate 0.45s ease-in-out;

}

aside.active {
    translate:0;
    transition: translate 0.45s ease-in-out;
}

footer {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap);
}

footer svg {
    width: 100%;
    height: 100%;
    color: inherit;
}

footer .hidden {
    display: none !important;
}

footer [disabled] {
    pointer-events: none;
    opacity: 0.5;
}

footer menu {
    display: flex;
    gap:var(--gap);
}

footer li {
    max-width: clamp(1rem, 3rem, 50px);
    min-width: 20px;
    aspect-ratio: 1;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    cursor: pointer;

    border-radius: 50px;
}

footer li.active {
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
}

footer button {
    flex:1;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: inherit;
    color: inherit;
}