<main class="main">
  <section id="game" class="active">
    <canvas id="canvas"></canvas>
  </section>
  <section id="brain">
  </section>
  <section id="chart">
  </section>

  <aside id="settings-container">
    <app-game-settings id="settings"></app-game-settings>
  </aside>
</main>

<footer>
  <menu>
    <li class="active">
      <button type="button" data-title="Game" data-target="game"  id="gameBtn">
        <svg>
          <use href="./assets/sprite.svg#gameIcon"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button" data-title="Brain" data-target="brain" id="brainBtn">
        <svg>
          <use href="./assets/sprite.svg#brainIcon"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button" data-title="Charts" data-target="chart" id="chartBtn">
        <svg>
          <use href="./assets/sprite.svg#chartIcon"></use>
        </svg>
      </button>
    </li>
  </menu>
</footer>