<header class="settings-header">
    <h2 class="settings--title">Settings</h2>

    <menu class="tab-container">
        <li class="tab" data-target="world">
            <svg class="icon">
                <use href="./assets/sprite.svg#worldSettings"></use>
            </svg>
        </li>
        <li class="tab" data-target="agents">
            <svg class="icon">
                <use href="./assets/sprite.svg#agentsSettings"></use>
            </svg>
        </li>
    </menu>
</header>
<form class="settings--form" id="settingsForm">
    <fieldset class="settings--form--content">
        <fieldset class="form__fieldset" data-tab="true" id="world">
            <legend class="form__fieldset--legend">World</legend>

            <fieldset class="form__group field">
                <app-terrain-settings id="terrain-settings"></app-terrain-settings>
                <app-radio-group-toggle id="topology-types" data-title="Topology"></app-radio-group-toggle>
            </fieldset>

        </fieldset>

        <fieldset class="form__fieldset" data-tab="true" id="agents">
            <legend class="form__fieldset--legend">Agents</legend>
            <app-custom-checkbox id="oneAgentTypeMode" data-title="One agent type mode"></app-custom-checkbox>

            <menu class="tab-container">
                <li class="tab" data-target="plant">
                    <svg class="icon">
                        <use href="./assets/sprite.svg#plantIcon"></use>
                    </svg>
                </li>
                <li class="tab" data-target="herbivore">
                    <svg class="icon">
                        <use href="./assets/sprite.svg#herbivoreIcon"></use>
                    </svg>
                </li>
                <li class="tab" data-target="carnivore">
                    <svg class="icon">
                        <use href="./assets/sprite.svg#carnivoreIcon"></use>
                    </svg>
                </li>
                <li class="tab" data-target="omnivore">
                    <svg class="icon">
                        <use href="./assets/sprite.svg#omnivoreIcon"></use>
                    </svg>
                </li>
            </menu>

            <fieldset class="form__fieldset" data-tab="true" id="plant">
                <legend class="form__fieldset--legend">Plant</legend>
                <app-agent-settings id="plantSettings" data-agent-type="plant"></app-agent-settings>
            </fieldset>
            <fieldset class="form__fieldset" data-tab="true" id="herbivore">
                <legend class="form__fieldset--legend">Herbivore</legend>
                <app-agent-settings id="herbivoreSettings" data-agent-type="herbivore"></app-agent-settings>
            </fieldset>
            <fieldset class="form__fieldset" data-tab="true" id="carnivore">
                <legend class="form__fieldset--legend">Carnivore</legend>
                <app-agent-settings id="carnivoreSettings" data-agent-type="carnivore"></app-agent-settings>
            </fieldset>
            <fieldset class="form__fieldset" data-tab="true" id="omnivore">
                <legend class="form__fieldset--legend">Omnivore</legend>
                <app-agent-settings id="omnivoreSettings" data-agent-type="omnivore"></app-agent-settings>
            </fieldset>
        </fieldset>
    </fieldset>
    <fieldset class="settings--form--controls">
        <button class="save-btn" data-title="Save" id="saveBtn" type="button">
            <svg class="icon">
                <use href="./assets/sprite.svg#saveIcon"></use>
            </svg>
        </button>
    </fieldset>
</form>