.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: calc(var(--gap) / 2) 1rem;

    background-color: var(--primary-color);
    color: var(--primary-font-color);
    flex: 0 1 auto;
    gap:var(--gap);
}

.header--title {
    font-size: clamp(10px, 2rem,7ch);
}