:host{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
canvas {
    will-change: transform;
    display: block;
    border: 1px solid var(--primary-font-color);
    box-sizing: border-box;
}