ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap);
    padding: .4rem;
    border: 1px solid var(--primary-font-color);
    border-radius: 50px;
}

li {
    flex:1;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

label {
    flex: 1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

label:has(input:checked) {
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
}

input {
    display: none;
}