label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:var(--gap);
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    box-sizing: border-box;
}

input {
    display: none;
}

.control__indicator {
    position: relative;
    width: 20px;
    aspect-ratio: 1;
    background: var(--primary-color);
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
}

input:checked ~ .control__indicator {
    background: var(--secondary-color);
    color: var(--secondary-font-color);
}

.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Checkbox tick */
input:checked ~ .control__indicator:after {
    position: absolute;
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid var(--secondary-font-color);
    border-width: 0 2px 2px 0;
}


input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}


input:checked ~ .control__indicator:after {
    display: block;
}



/* Disabled tick colour */
input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}