<menu>
    <li>
        <button type="button" data-title="Settings" id="settingsBtn">
            <svg>
                <use href="./assets/sprite.svg#settingsIcon"></use>
            </svg>
        </button>
    </li>
    <li>
        <button type="button" data-title="Generate" id="generateBtn">
            <svg>
                <use href="./assets/sprite.svg#generateIcon"></use>
            </svg>
        </button>
    </li>
    <li>
        <button type="button" data-title="Step" id="nextStepBtn">
            <svg>
                <use href="./assets/sprite.svg#nextStepIcon"></use>
            </svg>
        </button>
    </li>
    <li>
        <button type="button" data-title="Play" id="playBtn">
            <svg>
                <use href="./assets/sprite.svg#playIcon"></use>
            </svg>
        </button>
    </li>
    <li class="action-list-item hidden">
        <button type="button" data-title="Pause" id="pauseBtn">
            <svg>
                <use href="./assets/sprite.svg#pauseIcon"></use>
            </svg>
        </button>
    </li>
</menu>