.main {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    flex:1;
    padding: 0 var(--gap);
    gap:var(--gap);
    height: 100%;
    box-sizing: border-box;
}

.main > section {
    position: absolute;
    width: calc(100% - 2 * var(--gap));
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    box-sizing: border-box;
    overflow: hidden;
}

.main > section.active {
    visibility: visible;
    opacity: 1;
}





footer {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--gap);
}

footer svg {
    width: 100%;
    height: 100%;
    color: inherit;
}

footer .hidden {
    display: none !important;
}

footer [disabled] {
    pointer-events: none;
    opacity: 0.5;
}

footer menu {
    display: flex;
    gap:var(--gap);
    padding: 0;
}

footer li {
    max-width: clamp(1rem, 3rem, 50px);
    min-width: 20px;
    aspect-ratio: 1;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    cursor: pointer;

    border-radius: 50px;
}

footer li.active {
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
}

footer button {
    flex:1;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: inherit;
    color: inherit;
}