* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 16px;
}

body {
 height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

canvas {
    border: 1px double black;
    flex:1 1 auto;
    will-change: transform;
}

